{% extends "base.html" %}

{% block content %}
    <h2 align="center">Введите достопримечательность</h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.req.label }}<br>
            {{ form.req(class="form-control") }} <br>
            {% for error in form.req.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
            {% endfor %}
        </p>
        <div style="color: red">{{ message }}</div>
        <p>{{ form.submit(type="submit", class="btn btn-info") }}</p>
    </form>
{% endblock %}